{% extends "base.html.twig" %}
{%form_theme formemployer 'bootstrap_4_layout.html.twig'%}
{% block body %}
<section class="page-section clearfix">
        <div class="card-body"></div>
             <div class="container admin">
                   <div class="card">
                        <div class="card-body">
                              
                                <h2><strong>Enregistrer employes:</strong></h2>


                                {{form_start(formemployer)}}
                                <div class="form-group">
                                        <label for="">Matricule:</label>
                                        {{ form_widget(formemployer.Matricule)}}

                                </div>
                                <div class="form-group">
                                        <label for="">Nom:</label>
                                        {{ form_widget(formemployer.Nom)}}

                                </div>
                                <div class="form-group">
                                        <label for="">Date_naissance:</label>
                                        {{ form_widget(formemployer.Datenaissance)}}

                                </div>
                                <div class="form-group">
                                        <label for="">Salaire:</label>
                                        {{ form_widget(formemployer.Salaire)}}

                                </div>
                                <div class="form-group">
                                        <label for="">Service:</label>
                                        {{ form_widget(formemployer.service)}}

                                </div>
                                <button type="submit" class="btn btn-primary" >
                                        {% if modifemployer %}
                                                Modifier
                                        {% else %}
                                                Enregistrer
                                        {% endif %}
                                </button>
                                
                                {{ form_end(formemployer) }}
                        </div>
                   </div>
             </div>
</section> 
{% endblock %}